h1{
    color:white;
    font-size: 45px;
    text-align:center;
    font-family: cursive;
}
p{
    color:white;
    font-size: 20px;
    text-align:center;
    font-family: cursive;
}
a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 2000px 0 0 0 #54b3d6;
    color: white;
  }
li{
    margin:auto;
    font-size: 1.2em;
    font-family: cursive;
    text-align:right;

}
img{
    height:600px;
    width:1000px;
    float:left;
    margin:0 50px 0 20px; 
}
body{
background-color:black;
}
h2 {
   font-size: 24px;
   text-align:left;
   font-family: cursive;
   color:white; 
}
h3  {
    color:white;
}
.mdp{
    color:white;
}
.frontal{
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lettre{
    color:white;
    font-size: 10px;
    text-align: left;
    display: inline-block
}
.lettre1{
    margin-left: 5%;
}
.morse{
    cursor: not-allowed;
}
.covid{
    height:600px;
    width:650px;
    float:left;
    margin-left: 10%
}
.fun-color {
    -webkit-animation: random 15s infinite;
    animation: random 5s infinite;
    }
    
    @keyframes random {
    15% { background-color: #e3ff87; } 
    30% { background-color: #ff7c96; } 
    45% { background-color: #6ffffa; }
    60% { background-color: #ef6b30; } 
    75% { background-color: #bf69b1; } 
    }